.card {
  background-color: #ffff;
  max-width: 300px;
  max-height: 500px;
  flex: 1;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 15px;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.3rem;
  width: 260px;
  min-height: 30px;
  max-height: 35px;
  overflow: hidden;
  margin: 20px 0;
  font-weight: bold;
  color: #333;
}

.nutrition {
  font-size: 0.8rem;
  color: #555;
  line-height: 1.6;
}

.cookTime {
  font-size: 0.9rem;
  font-style: italic;
  color: #555;
  overflow: hidden;
  text-overflow: ellipsis;
}
