.homepage {
  padding: 10px;
}
.dailyPicks {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: center;
  align-items: stretch;
}

.dailyPicks h1 {
  font-size: 50px;
  font-weight: normal;
  padding: 20px;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
